<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.proyectoCero.mapper.DatoMapper">
	<cache />
	<select id="getDato" resultType="com.spring.proyectoCero.dto.Dato">
		SELECT * FROM dato WHERE identificador=#{identificador}
	</select>
	
	<insert id="insertarDato" parameterType="com.spring.proyectoCero.dto.Dato">
		INSERT INTO dato(identificador,nombre) VALUES (#{identificador},#{nombre})
	</insert>
	
	<update id="actualizarDato" parameterType="com.spring.proyectoCero.dto.Dato">
		UPDATE dato SET nombre=#{nombre} where identificador=#{identificador}
	</update>
	
	<delete id="borrarDato" parameterType="String">
		DELETE FROM dato WHERE nombre=#{nombre}
	</delete>
</mapper>